*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.hind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
#*.pdf
book/images/figure*converted-to.pdf
*.tex.bak
book/html
*.fls
*.fdb_latexmk
